body{
    background-color: #343F56;
    font-family: "Figtree", sans-serif;
    margin: 0%;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}

.dropdown{
    display: flex;
    flex-direction: column;
    font-size: large;
}

.dropdown a{
    color: white;
}

.dropdown ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
}

.dropdown li{
    padding: 10px;
    position: relative
}

.dropdown .submenu{
    position: absolute;
    opacity: 0;
    top: 38px;
    transition: 0.5s opacity;
    visibility: hidden;
}

.dropdown li:hover .submenu{
    background: #F45B69;
    box-shadow: 15px 15px 15px #6B2737;
    opacity: 100;
    visibility: visible;
}

.navicon{
    width: 75px;
    height: 60px;
}

/* .main{
    padding: 3rem 2.5rem 10rem 2.5rem;
    margin: 5% 35% 5% 35%;
    width: 20rem;
    height: 20rem;
    color: white;
    background-color: #456990;
    box-shadow: 15px 15px 15px #114B5F;
} */

/* .radio-list{
    display: flex;
    flex-direction: column;
}

.form-content{
    padding-top: 1rem;
} */

.custom-button{
    background-color: #F54748;
    font-family: "Figtree", sans-serif;
    padding: 8px 8px;
    margin-bottom: 10%;
    margin-left: 20%;
    border: none;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
}

.container{
    background-image: url("../images/homepage_img.jpg");
    color: white;
    height: 100vh;
    width: 100vw;
}

.landing{
    padding: 6rem 10rem 10rem 10rem;
    width: 40%;
    text-shadow: 2px 2px 2px black;
}

h1{
    font-size: 8rem;
    text-align: left;
    margin: 0
}

h2{
    margin: 0;
}

h3{
    font-weight: 100;
    text-align: left;
    margin: 0
}

.heading{
    font-size: 4rem;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-left: 4rem;
    margin-top: 2rem;
}

.navigate{
    background-color: #343F56;
    height: 100vh;
    width: 100vw;
}

.tiles{
    margin: 10rem 10rem 10rem 8rem;
    display: flex;
    flex-direction: row;
}

.grid{
    background-color: white;
    box-shadow: 5px 5px 5px #4B4237;
    border-radius: 15px;
    width: 15rem;
    height: 21rem;
    margin-left: 1%;
    margin-right: 1%;
    padding: 2%;
}

.grid:hover{
    box-shadow: 5px 5px 5px #F5E6CA;
    /*  #aa8f6f */
}

.grid img{
    width: 15rem;
    height: 10rem;
}

.grid ul{
    list-style: none;
}

.main{
    margin-left: 10rem;
}

.tab-list {
    list-style-type: none;
    padding: 0;
    margin: 5% 5% 0% 5%;
    display: flex;
}
.tab-list li {
    /* margin-right: 5px; */
}
/* Style the tab links */
.tab-list a {
    padding: 5px 10px;
    margin-left: 10px;
    display: block;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #4B4237;
}
.tab-list a:hover {
    background-color: #ccc;
}
/* Style for the active tab */
.tab-list a:target {
    background-color: #F54748;
    color: white;
}

.tab-content {
    display: none;
    margin: 1% 20% 5% 5%;
    padding: 3% 0% 3% 3%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}
/* Display the content when the tab is targeted */
.tab-content:target {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas: 'first first-img'
                        'second second-img'
                        'third third-img' ;
    height: auto;
    background-color: white;
}

.tab-content img{
    margin-left: 5rem;
    width: 15rem;
    height: 10rem;
}

.tab-content button{
    margin-left: 0;
}
